

body {
    color: white;
    background-color: darkslategray;
    margin: 0%;
    font-family: 'Courier New', monospace;
    font-size: 14px;
}

#navbar {
    min-width: 100%;
    min-height: 10%;
    border-bottom: 1px solid rgba(211, 211, 211, 0.512);
    background-color: cadetblue;
    text-align: left;
    padding-bottom: 1em; 
    padding-top: 1em; 
    overflow: auto;
}

#adminbar {
    min-width: 100%;
    min-height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d08b00;
    text-align: left;
    padding-bottom: 10px;
    padding-top: 10px; 
}

.navbarbutton {
    border-radius: 20px;
    border: none;
    padding: 6px 1vw;
    margin-right: 10px;
    float: right;
    width: fit-content;
    align-items: center;
    justify-content: center;
}

.navbarbutton:hover{
    cursor: pointer;
}

.navbaricon {
    display: block;
    margin: auto;
    height: 1.3rem;
    width:auto;
}

#navbar_search {
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 6px;
    padding-left: 15px;
    background-color: azure;
    margin-left: 2px;
    float: right;
    width: 10%;
    transition: 0.3s;
}

#navbar_search:focus {
    width: 30%;
    transition: 0.3s;
}

#navbar_search_button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}



#logsearchbar {
    border-radius: 20px;
    padding: 6px;
    background-color: azure;
    margin-top: 1%;
    margin-left: 30%;
    margin-right: auto;
    float: center;
    width: 30%;
    font-size: 2vw;
}

.logsearchbutton {
    border-radius: 20px;
    padding: 6px;
    margin-left: 2px;
    margin-right: 2px;
    float: center;
    width: 10%;
    height: 20%;
}

.logtable {
    display:block;
    padding: 0px;
    margin-top: 5px;
    margin-right: auto;
    margin-left: 24%;
    width: 52%;
    height: 60vh;
    overflow-y: scroll;
}

button, .button, select {
    border-radius: 20px;
    padding: 6px;
    background-color: #D8E1E7;
    transition: 0.2s linear;
}

button:hover, .button:hover {
    background-color: #9BA1A5;
}


/* ===== LOGIN AND REGISTER ===== */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_card {
	color: white;
    margin-top: 5em;
    height: fit-content;
    width: fit-content;
    background-color: #3E4491;
    padding: 2em 4em 2em 4em;
    border-radius: 1vw;
}

.login_card h1 {
	text-align: center;
}

.login_card input {
    border: none;
    border-radius: 1em;
    padding: 0.5em;
    background-color: azure;
    margin: 0 auto 0 auto;
    margin-bottom: 5%;
    display: block;
    width: 100%;
    font-size: 1.2em;
}

.login_card .button {
    width: 60%;
}

.success {
    color: red;
}

.error {
    text-align: right;
    color:red;
}

.forgor {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
}

.forgor a {
    color: #F7A400
}


/* ===== COMMENTS PAGE ===== */

.message-wall-container {
    display: flex;
    flex-direction: column;
    padding: 2%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.feedback-cell {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    margin: 0 2% 2% 0;
    overflow: hidden;
    width: 70%;
}

.feedback-cell > form {
    display: contents;
}

.feedback-cell > form > input {
    margin-top: 1em;
    border: none;
}

textarea {
    width: 100%;
    margin: 1%;
    resize: none;
}

.column-container {
    display: flex;
    flex-direction: column;
}

.comment_cell {
    width: 100%;
    height: fit-content;
    color: black;
    background-color: white;
    display: flex;
    margin-bottom: 2%;
    border-radius: 1em;
}

.comment_cell_left {
    width: 20%;
    margin: 3% 2% 2% 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comment_cell_left > img {
    height: 10vh;
    width: auto;
}

.comment_cell_right {
    width: 80%;
    margin: 1%;
    word-wrap: break-word;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.comment_cell_right p {
    min-width: 100%;
}

.date_posted {
    margin-left: auto;
    margin-top: auto;
    width: fit-content;
    height: fit-content;
}

.date_posted a {
    color: red;
    margin-right: 20px;
}


/* ===== PROFILE ===== */

.profile-cell {
    color: white;
    background-color: #3E4491;
    margin-top: 5em;
    padding: 1em;
    border-radius: 1em;
    width: 80%;
}

.horizontal-container {
    display: flex;
    flex-direction: row;
}

.profile-picture {
    width: 25rem;
    padding-right: 1em;
}

.profile-picture img {
    margin-top: 1em;
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 500px;
}

.profile-form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
}

.profile-form > label {
    margin-bottom: 0.5em;
}

.profile-form > input{
    margin-bottom: 1.5em;
    border-radius: 1em;
    border: none;
    padding: 0.5em 0.5em 0.5em 1em;
}

#profile_picture {
    padding: 0px;
    border-radius: 0px;
}

.profile-update {
    border: none;
}

.profile-update:hover {
    cursor: pointer;
}
